[submodule "modules/figurator"]
	path = modules/figurator
	url = git://github.com/davenquinn/figurator.git
[submodule "modules/bib-filter"]
	path = modules/bib-filter
	url = git://github.com/davenquinn/bib-filter.git
[submodule "modules/wrap-si-units"]
	path = modules/wrap-si-units
	url = git://github.com/davenquinn/wrap-si-units.git
